body{
    background-color:rgb(255,255,255);
    margin:0;
    padding:0;
}

/*heading style*/
.heading{
    background-color: #0e95f5;
    color:white;
    width: 100%;
    height:40px;
}
.mail{
    margin-left:50px;
    padding-top: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
}
.mailicon{
    margin-right:6px;
}
.contacts{
    padding-left:45px;
}
.phoneicon{
    margin-right:6px;
}
.gicon{
    margin-left:850px;
    background-color: rgb(228,75,51);
    padding:3px 4px;
    border: none;
}
.gicon:hover{
    cursor:pointer;
}
.facebookicon{
    padding:3px 7px;
    background-color:rgb(43,100,188) ;
    border:none;
    margin-left:2px;
}
.facebookicon:hover{
    cursor:pointer;
}
.twittericon{
    padding:3px 6px;
    background-color:rgb(0,188,242) ;
    border:none;
    margin-left:3px;
}
.twittericon:hover{
    cursor:pointer;
}
.appleicon{
    background-color:rgb(200,19,18) ;
    border:none;
    padding:3px 7px;
    margin-left:3px;
}
.appleicon:hover{
    cursor:pointer;
}
.wifiicon{
    background-color: rgb(255,127,5);
    border:none;
    padding:3px 5px;
    margin-left:2px;
}
.wifiicon:hover{
    cursor:pointer;
}


/*heading1 styles*/
.heading1{
    background-color:rgb(252,252,252) ;
    width:100%;
    height:60px;
    border-bottom: rgb(221, 217, 217) 3px solid;
}
.heading1>img{
    margin-top:2px;
    margin-left:20px;
}
.univershselection{
    margin-left:260px;
    font-weight: bold;
    padding-bottom: 10px;
    font-family:'Roboto', sans-serif;
    font-size:11px;
    font-weight: 800;
}
.univershselection>span{
    margin-bottom: 50px;
    position:relative;
    bottom: 10px;
    padding:18px 18px;
    padding-top:29px;
    padding-bottom:20px;
}
.univershselection>span:hover{
    cursor:pointer;
    color:white;
    background-color:#0e95f5 ;
}
.home{
    background-color:#0e95f5;
    color:white;
}
.downarrow{
    margin-left:5px;
}
.hamburger{
    margin-left:2px;
    display: none;
}

/*top content*/
.top{
   width:100%;
   height: 550px;
   background-color: rgb(255,255,255);
   background-image: url("../images1/liberty\ statue.jpg");
   background-size:650px;
   background-repeat: no-repeat;
   background-position: center;
   border-bottom: darkgray 35px solid;
}
.Education{
    margin-left:1010px;
    padding-top:20px;
    font-size:57px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
}
.viewbtn{
    background-color: #0e95f5;
    font-weight: 600;
    font-family:'Roboto', sans-serif;
    padding:10px 15px;
    color:white;
    border:none;
    margin-left:1200px;
    margin-top:20px;
}
.viewbtn:hover{
    cursor:pointer;
    color:black;
}


/*mid content*/
.mid{
    display: flex;
    flex-direction: row;
    margin-left:57px;
    position: relative;
    bottom:75px;
    flex-wrap: wrap;
}
.box{
    width:400px;
    height:210px;
    background-color:rgb(16,149,244);
    color:white;
    margin-top:10px;
}

.item{
    font-size: 20px;
    margin-top:40px;
    margin-left:150px;
}
.boxheading{
    color:white;
    font-size:21px;
    margin-left:80px;
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
}
.school{
    margin-left:110px;
}
.boxcontent{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    margin-top:20px;
    margin-left:70px;

}
.schoolcon{
    margin-left:105px;
}
.setting{
    position: absolute;
    font-size:30px;
    right:25px;
    bottom:453px;
    display: none;
}
.setting:hover{
    color:rgb(16,149,244);
    cursor:pointer;
}

/*middle content*/

.our{
    margin-left:430px;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    margin-top:1px;
}
.line>hr{
    margin-top:30px;
    margin-left:610px;
    margin-right:640px;
    border-bottom:darkgray solid 2px;
}
.line1>hr{
    margin-left:620px;
    margin-right:650px;
    border-bottom:darkgray solid 2px;
}
.courses{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:30px;
    margin-bottom: 20px;
}
.coursebox{
    width:300px;
    background-color: rgb(255,255,255);
    height:400px;
    margin-right:30px;
    margin-left:90px;
    margin-top:20px;
    border: 10px gray;
    box-shadow:10px 1px 34px gray;
    position: relative;
}
.professor{
    position:absolute;
    height:70px;
    width:70px;
    border-radius: 50%;
    border:white 3px solid;
    top:170px;
    left:15px;
}
.professor1{
    border-radius: 50%;
}
.profe{
    position:absolute;
    left:90px;
    top:30px;
    font-size: 18px;
    color:darkgray;
}
.profeheading{
    color:rgb(16,149,244);
    font-size:25px;
    font-family: 'Roboto', sans-serif;
    font-weight:540;
}
.courseboxitem{
    position: absolute;
    bottom:120px;
    left:20px;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:rgb(57,57,57);
    font-weight:600;
}
.courseboxitem1{
    position: absolute;
    color:rgb(57,57,57);
    font-size:12px;
    font-family:'Roboto', sans-serif;
    bottom:70px;
    left:20px;
}
.apply{
    position: absolute;
    color:white;
    background-color: rgb(28,152,255);
    padding:6px 12px;
    bottom:30px;
    left:20px;
    border-radius: 2px;
    border: none;
    font-family:'Roboto', sans-serif;
    font-weight:600 ;
}
.apply:hover{
    cursor:pointer;
    color:black;
}

/*bottom content*/
.greyarea{
    margin-top:70px;
    width:100%;
    height:500px;
    background-color:rgb(57,57,57);
    color:white;
}
.about{
    color:white;
    font-family:'Roboto', sans-serif;
    font-size: 45px;
    margin-left:510px;
    padding-top:50px;
}
.line2{
    margin-top:20px;
    margin-left :590px;
    margin-right:645px;
    border-bottom:rgb(92, 91, 91) solid 2px;
}
.line3{
    margin-top:10px;
    margin-left:610px;
    margin-right:665px;
    border-bottom:rgb(92, 91, 91) solid 2px;
}
.aboutcontent{
    font-size:5;
    color:white;
    font-family:'Roboto', sans-serif;
    margin-top:60px;
    margin-left:340px;
}
.aboutbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin-top:50px;
    margin-left:50px
}
.aboutboxitem{
    position:relative;
    height:135px;
    width:240px;
    color:white;
    margin-left:60px;
    background-color: rgb(16,16,16);
}
.aboutboxheading{
    position:absolute;
    font-size:30px;
    font-family:'Roboto', sans-serif;
    left:17px;
    top:20px;
}
.aboutboxnumber{
    position:absolute;
    left:17px;
    bottom:30px;
    font-size:35px;
}
.aboutboximage{
    position: absolute;
    color:white;
    right:10px;
    bottom:10px;
}

/*White area content*/

.whitearea{
    background-color:rgb(238,238,238);
    width:100%;
    height: 680px;
}
.teachers{
    color:rgb(12,12,12);
    font-size:45px;
    font-family:'Roboto', sans-serif;
    font-weight:500;
    margin-left:550px;
    padding-top:70px;
}
.line4{
    margin-top:20px;
    margin-left :630px;
    margin-right:622px;
    border-bottom:rgb(92, 91, 91) solid 2px;
}
.line5{
    margin-top:10px;
    margin-left:650px;
    margin-right:640px;
    border-bottom:rgb(92, 91, 91) solid 2px;
}
.whiteareacontent{
    font-size: 13px;
    font-family:'Roboto', sans-serif;
    color:rgb(58, 53, 53);
    margin-top:30px;
    margin-bottom:30px;
    margin-left:450px;
}
/*flex in our techers*/
.ourbox{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;    
    margin-top:50px;
}
.ourboxitem{
    width:300px;
    height:380px;
    background-color:rgb(238,238,238);
    margin-left:120px;
    position: relative;
    box-shadow: 10px 1px 34px gray;
    margin-bottom:20px;
}
.ourboximage{
    position: absolute;
    left:40px;
    top:20px;
}
.ourboxheading{
    position: absolute;
    color:rgb(90,90,90);
    font-size:17px;
    font-weight:600;
    font-family:'Roboto', sans-serif;
    left:50px;
    bottom:60px;
}
.staffposition{
    font-size:18px;
    padding-top:10px;
    font-family:'Roboto', sans-serif;
}
/*media queries*/
@media screen and (max-device-width:768px) {
    body{
        margin:0;
        padding:0;
    }
    .heading{
        width:1360px;
    }
    .gicon{
        position: relative;
        right:70px;
    }
    .facebookicon{
        position: relative;
        right:68px;
    }
    .twittericon{
        position: relative;
        right:65px;
    }
    .appleicon{
        position: relative;
        float:right;
        bottom:2px;
        right:100px;
    }
    .wifiicon{
        position: relative;
        float:right;
        bottom:2px;
        right:43px;
    }
    /*heading area1*/
    .heading1{
        width:1360px;
    }
    .contactarrow{
        position: relative;
        bottom:18px;
        left:1225px;
    }
    .downarrow{
        display: none;
    }
    .hamburger{
        display:inline;
    }
    .hamburger:nth-child(7){
        position: relative;
        left:100px;
    }
    .setting{
        position: fixed;
        top:400px;
        right:30px;
        color:darkgray;
        display: block;
    }
    .setting:hover{
        cursor:pointer;
    }
    /*top content*/
    .top{
        width:1360px;
    }
    .viewbtn{
        position: relative;
        right:180px;
    }
    .Education{
        position: relative;
        right:40px;
    }
    /*mid area*/
    .mid{
        margin-left:30px;
        width:1360px;
    }
    .box:nth-child(3){
        margin-left:800px;
        position:relative;
        bottom:220px;
    }
    .middle{
        width:1360px;
    }
    .greyarea{
        width:1360px;
    }
    .whitearea{
        width:1360px;
    }

}

@media screen  and (min-device-width:800px) and (max-device-width:1024px) {
    .heading{
        width:1350px;
    }
    .heading1{
        width:1350px;
    }
    .top{
        width:1350px;
    }
    .mid{
        width:1350px;
        position:relative;
        right:40px;
    }
    .Education{
        position: relative;
        right:10px;
    }
    .viewbtn{
        position: relative;
        right:180px;
    }
    .middle{
        width:1350px;
    }
    .greyarea{
        width:1350px;
    }
    .whitearea{
        width:1350px;
    }
    .ourbox{
        position:relative;
        right:40px;
    }

}